html{
  min-height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  /* background: url(/assets/piramide.jpg)center */
  background-size:100%;
  background-position:bottom;
  background-color: white;
  min-height: 100%;
}

.footer{
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}

form{
  padding: 30px;
  margin-top: 80px;
}
form Button, form h5{
  margin: 20px 0;
}
.map-food{
  left: 50%
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #673AB7;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #512DA8 !important;
}

.avatar{
  display: flex;
  flex-grow: inherit;
  justify-self: end;
  width: 300px;
  height: 400px;
}

.logo{
  display:flex;
  width: 140px;
  height: 60px;
}

.cards{
  display:flex;
  flex-direction: row;
  justify-self: center;
  padding-top: 20px;
  justify-content: space-around;
}

.image-card{
  width:130px;
  height: 130px;
}

.dash-card{
  display:flex;
  flex-direction: row;
  flex-flow: row;
}